package {{.Package}}

import (
	"github.com/gin-gonic/gin"
	"{{.HandlerImport}}"
)

func Setup{{.EntityName | ToPascalCase}}Routes(router *gin.Engine, handler *handlers.{{.EntityName | ToPascalCase}}Handler) {
	{{.EntityName | ToLower}}Group := router.Group("/api/v1/{{.EntityName | ToLower}}s")
	{
		{{.EntityName | ToLower}}Group.POST("", handler.Create{{.EntityName | ToPascalCase}})
		{{.EntityName | ToLower}}Group.GET("/:id", handler.Get{{.EntityName | ToPascalCase}})
		{{.EntityName | ToLower}}Group.PUT("/:id", handler.Update{{.EntityName | ToPascalCase}})
		{{.EntityName | ToLower}}Group.DELETE("/:id", handler.Delete{{.EntityName | ToPascalCase}})
		{{.EntityName | ToLower}}Group.GET("", handler.List{{.EntityName | ToPascalCase}}s)
	}
}
