package postgres

import (
	"context"
	"database/sql"
	
	"{{.EntityImport}}"
)

type PostgresRepository interface{}

type postgresRepository struct {
	db *sql.DB
}

func NewPostgresRepository(db *sql.DB) *postgresRepository {
	return &postgresRepository{db: db}
}

func (r *postgresRepository) Insert(ctx context.Context, entity *entity.{{.EntityName | ToPascalCase}}) error {
	return nil
}

func (r *postgresRepository) FindByID(ctx context.Context, id string) (*entity.{{.EntityName | ToPascalCase}}, error) {
	return nil, nil
}

func (r *postgresRepository) Update(ctx context.Context, entity *entity.{{.EntityName | ToPascalCase}}) error {
	return nil
}

func (r *postgresRepository) Delete(ctx context.Context, id string) error {
	return nil
}